/* for mobile phones */
@media only screen and (max-width: 600px) {
  body,
  html {
    background-color: #dcdcdc;
    margin: 0;
    width: 100%;
  }

  #mobile-profile-image:hover,
  #mobile-profile-image:focus,
  #mobile-profile-image:active {
    opacity: 0.6;
  }

  #project-content {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-content-component {
    background-color: #f8f8f8;
    box-shadow: 0 5px 3px #888;
    padding: 40px 30px 5px 30px;
    margin-bottom: 60px;
  }

  .project-title {
    left: 36px;
    position: relative;
    top: -48px;
    width: 50%;
    text-decoration: none;
  }

  ol {
    position: relative;
    top: -45px;
  }

  li {
    list-style: none;
  }

  #icon-project {
    margin-left: 0;
  }

  #project-content h2 {
    color: #1f3a85;
    margin-left: 2px;
  }

  h3 {
    color: #1f3a85;
    font-weight: 600;
  }

  hr {
    margin-top: 28px;
  }

  .job-title {
    font-size: 1.35em;
  }

  .skill-progress {
    background-color: lightgrey;
    border-radius: 20px;
    height: 14px;
    margin: 6px 0;
    width: 230px;
  }
  .my-progress {
    background-color: #1f3a85;
    border-radius: 20px;
    height: 14px;
  }

  #web-progress {
    width: 60%;
  }

  #c-cpp-progress {
    width: 55%;
  }

  #python-progress {
    width: 90%;
  }

  #communication-progress {
    width: 85%;
  }

  #teamwork-progress {
    width: 85%;
  }

  /* mobile footer */
  #mobile-footer {
    color: #1f3a85;
    margin-top: -60px;
  }

  #footer-find-me {
    border-bottom: 1px solid #1f3a85;
  }

  .company {
    color: white;
    text-decoration: none;
  }
}

/* for desktops */
@media only screen and (min-width: 600px) {
  #mobile-footer,
  #mobile-profile-image {
    display: none;
  }

  .icon-project {
    margin-right: 8px;
  }

  li {
    font-weight: lighter;
    list-style-type: circle;
    margin-bottom: 8px;
  }

  body,
  html {
    background-color: #dcdcdc;
    margin: 0;
    min-width: 1050px;
  }

  #sidebar-profile-image:hover {
    opacity: 0.8;
  }

  #project-content {
    float: left;
    font-family: sans-serif;
    margin: 5%;
    width: 65%;
    background-color: #f8f8f8;
    box-shadow: 0 5px 3px #888;
    float: left;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
  }

  .project-content-component {
    background-color: #f8f8f8;
    box-shadow: 0 5px 3px #888;
    padding: 30px;
  }

  .project-content-component-header {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
  }

  body,
  html {
    background-color: #dcdcdc;
    margin: 0;
  }

  .project-category {
    left: 36px;
    position: relative;
    top: -48px;
  }

  #project-content h2 {
    color: #1f3a85;
    margin-left: 2px;
    cursor: pointer;
  }

  #project-content a {
    text-decoration: none;
    cursor: pointer;
  }

  h3 {
    color: #1f3a85;
    font-weight: 600;
  }

  hr {
    margin-top: 28px;
  }

  .job-title {
    font-size: 1.35em;
  }

  .company {
    color: white;
    text-decoration: none;
  }
}
